.about-container{
    padding:2em 0;

}
.about-content{
    text-align: center;
    background-color: #0bacee;
    color: white;
    margin: 2em 0;
    padding: 2em;
}

.about-content div{
    display: flex;
    justify-content: space-between;
    
}

.about-content p{
    text-align: left;
    margin-top: 1em;
}

.card-container{
    width: 380px;
}
