.banner-hero {
    position: relative;
    height: 25em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/ponte.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 5px 8px 10px black;
    z-index: 50;
}

.banner-text {
    margin-top: 1em;
    font-size: 1.5em;
    text-align: left;
    color: white;

}

.banner-text h1 {
    max-width: 7em;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.1em;

    position: relative;
    left: 10%;
}

@media (min-width: 750px) {
    .banner-text {
        top: 55%;
        left: 45%;
        max-width: 600px;
    }

    .banner-text p{
        position: absolute;
    }

    .banner-text h1 {
        left: 7%;
    }

    .circular-container {
    display: none;
    }
}