.container{
    width: 100%;
    padding-top: 1em ;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-content{
    margin: 2em auto;

    background-color: lightgray;
    width: 95%;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

h1{
    text-align: center;
    margin-top: 0.5em;
}

hr{
    width: 80%;
    margin:0 auto;
}

p{
    margin:1em 2em;
}

#showmap-btn{
    margin-bottom: 1em;
}

.map-container {
    background-image: url("../../assets/mapa0.png");
    margin-top: 2em;
    width: 0%;
    height: 0%;
    position: relative;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    background-position: 0.90em -0.1em;
    background-size: 100%;
    transition: 0.5s;
}

.showMap{
    height: 100%;
    width: 100%;
}

.map-container img {
    width: 100%;
    margin-left: 1em;
    position: relative;
}

//* buttons position
#biguacu-btn, #floripa-btn, #palhoca-btn, #saoJose-btn,#hidePainel-btn
{
    position: absolute;
    cursor: pointer;
    animation: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0px;
    opacity: 0%;
    transition: 0.5s;
    z-index: 0;
}

#biguacu-btn {
    width: 53%;
    height: 38%;
    top: 0em;
    left: 0.8em;
    background-image: url("../../assets/biguacu0.png");
}

#biguacu-btn:hover, #palhoca-btn:hover, #saoJose-btn:hover, #floripa-btn:hover {
    opacity: 100%;
}

#floripa-btn {
    width: 54%;
    height: 80%;
    top: 4em;
    right: -1.1em;
    background-image: url("../../assets/floripa0.png");
}

#palhoca-btn {
    width: 40%;
    height: 55%;
    bottom: -0.8em;
    left: 6em;
    background-image: url("../../assets/palhoca0.png");
}

#saoJose-btn {
    width: 32%;
    height: 21%;
    top: 15em;
    left: 6.5em;
    background-image: url("../../assets/saojose0.png");
    z-index: 1;
}

#hidePainel-btn{
    width: 20%;
    height: 64%;

    top: 2.2em;
    right: 0em;
    z-index: 9999;

    opacity: 1;
}

.infosCard{
    width: 0%;
    max-height: 65%;
    margin-left: -50em;
    background-color: white;
    border: 1px solid lightgray;
    position: absolute;
    top: 3em;
    left: 0em;
    overflow: hidden;
    transition: 1s;
}

.infosCard-show{
    display: block;
    width: 100%;
    margin-left: 0em;
    z-index: 3;
}

.infosCard-text {
    padding: 1em;
}