header {
    width: 100%;
    height: 4em;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
    box-shadow: 2px 2px 8px black;
}

.icon {
    margin: 0.03em;
    font-size: 3.8em;
}

.navMenu {
    width: 0;
    height: 50em;
    background-color: lightgray;
    border-left: 1px solid white;
    position: absolute;
    right: 0px;
    z-index: 9999;
    transition: 0.5s;
    overflow: hidden;
}

.navMenu-show{
    width: 70%;
}

.linkTo {
    width: 100%;
    padding: 1em;
    font-size: 1.3em;
    border: 1px solid white;
    background-color: lightgray;
    transition: 0.5s;
}

